.card-img {
  height: 250px;
  width: 100%;
}

.dropdownHover {
  position: relative;
}

.items-dropdownHover,
.items-subDropdownHover {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: #212529;
  padding: 1rem;
  list-style: none;
  text-wrap: nowrap;
  width: 250px;
  border-radius: 5px;
  text-align: left;

  & a {
    color: white;
  }
}

.dropdownHover:hover .items-dropdownHover {
  display: flex;
  flex-direction: column;
}

.subDropdownHover:hover .items-subDropdownHover {
  display: flex;
  flex-direction: column;
}

.recientes {
  cursor: pointer;
}

.next {
  transition: all 0.3s ease-in-out;
}

.recientes:hover .next {
  transform: scale(1.1);
  margin:0 20px;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}